<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="questions">

</head>

<body>
<div class = "container">
<h1>Stupid coaching</h1>
<h2>Ask your Coach anything:</h2>
<form action="/answer">
    <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
  <input type="text" class="form-control" id="inlineFormquestion" name="question" placeholder="Type your question">
     </div>
         <div class="col-auto my-1">
  <input type="submit" class="btn btn-primary" value="Ask!">
    </div>
</div>
</form>
</body>

